/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 20px 20px; 
    border: 16px solid gold;
    border-radius: 16px;
}

.card-style-3 img {
    border: 5px solid goldenrod;
}

#pokemon-card-1 {
    background: linear-gradient(
        to top left, 
        rgb(222, 236, 222), 
        green, 
        rgb(222, 236, 222)
    );
}

#pokemon-card-2 {
    background: linear-gradient(
        to top left, 
        rgb(222, 236, 222), 
        green, 
        rgb(222, 236, 222)
    );
}

#pokemon-card-3 {
    background: linear-gradient(
        to top left, 
        rgb(245, 139, 73),
        rgb(202, 52, 6),
        rgb(245, 139, 73)
    );
}

#pokemon-card-4 {
    background: linear-gradient(
        to top left, 
        rgb(0, 255, 247),
        rgb(2, 163, 187),
        rgb(0, 255, 247)
    );

}

.card-style-3 .pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-style-3 .name {
    padding: 0px;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.card-style-3 .details {
    background-color: goldenrod;
    margin-top: 6px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

.card-style-3 .bold {
    font-weight: bold;
    font-size: 17px;
}

.card-style-3 .data {
    border: 2px solid goldenrod;
    padding: 3px;
    font-size: 10px;
}

.card-style-3 .health {
    font-size: 19px;
}

.card-style-3 .attack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-bottom: 9px;
    flex: 1;
}

.card-style-3 .description {
    padding: 0px 2px;
}

.card-style-3 .power {
    font-weight: bold;
    font-size: 25px;
}