* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.product-showcase {
    background-color: peachpuff;    
  }

div h1 {
    text-align: center;
}

.cinnamon-toast-crunch {
    padding: 48px 0px;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.eggo-buttermilk {
    background-color: yellow;
    color: red;
    padding: 48px 0px;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-image: auto;
}