* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.product-showcase {
    background-color: peachpuff;    
}

.buttermilk {
    background-color: yellow;
}

.oreo {
    background-color: blue;
}

.crunch {
    padding: 48px 0px;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.waffles {
    color: red;
    padding: 48px 0px;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cookies {
    color: white;
    padding: 48px 0px;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div .cookies img {
    width: 500px;
}