* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #c4bd8b, #7e784b);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 30px;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar #name {
    margin-right: auto;
    font-size: 27px;
    font-weight: bold;
    color: rgb(0, 58, 0);
}

#navbar-2 {
    background: linear-gradient(
        to bottom, 
        rgb(230, 187, 109), 
        rgb(255, 170, 12)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-2 a {
    text-decoration: none;
    color: yellow;
    padding: 30px;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-2 #name-2 {
    margin-right: auto;
    font-size: 30px;
    color: yellow;
}

#navbar-2 .cta-button {
    background-color: white;
    color: orange;
    border-radius: 36px;
    padding: 13px 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#navbar-3 {
    background: linear-gradient(
        to bottom, 
        rgb(177, 1, 177),
        rgb(128, 0, 128) 
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-3 a {
    text-decoration: none;
    color: #FD6924;
    padding: 24px;
}

#navbar-3 #name-3 {
    margin-right: auto;
    font-size: 40px;
}

#navbar-3 .cta-button {
    background-color: orange;
    color: rgb(147, 1, 147);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background-color: #CC021A;
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: #390039;
    padding: 12px 36px;
}

#top-section #name-3 {
    color: #8A4985;
    background: linear-gradient(rgb(253, 233, 196), orange);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 25px;
}