/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2 {
    max-width: 350px;
    background-color: white;
    margin: 16px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 25px; 
}

.card-style-2 img {
    width: 200px;
    border-radius: 50%;
    text-align: center;
}

.profile-pic-container {
    justify-content: space-between;
    text-align: center;
    padding-top: 36px;
}

.card-style-2 h2 {
    text-align: center;
}

.card-style-2 p {
    text-align: center;
    padding-bottom: 33px;
}

.card-style-2 .animagram-footer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.card-style-2 .animagram-header {
    display: flex;
    justify-content: space-between;
}

.card-style-2 .brand-name {
    padding-top: 12px;
    font-size: 28px;
}