* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-main {
    background: rgb(247, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-main a {
    text-decoration: none;
    color: rgb(91, 0, 91);
    padding: 24px;
}

#navbar-main #name {
    margin-right: auto;
    font-size: 40px;
}

#top-section #name {
    color: #ffffff;
    background: rgb(133, 1, 1);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}

#navbar-bottom {
    background-color: #fcfafa;
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: #390039;
    padding: 12px 30px;
}