@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Kdam+Thmor+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/bamboo-leaves.jpg");
    background-size: cover;
}

#navbar {
    background: linear-gradient(
        to top,
        #1bda9d,
        #beffea
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 21px;
}

#navbar #logo {
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

#navbar .dropdown-container a:hover {
    color: #008A5F;
}

img {
    width: 120px;
}

#footer {
    background: linear-gradient(
        to top, 
        #1bda9d,
        #7cf8d1
    );
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer #footer-navbar a:hover {
    color: #008A5F;
}

#hero {
    background-image: url("../images/Ramen-2025.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.hero-layout {
    border-radius: 60px;
    padding: 24px 48px;
    max-width: 800px;
    margin: 0px;
    text-align: center;
    color: rgb(76, 0, 0);

}

.hero-layout a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    border-radius: 48px;
    padding: 12px 24px;
}

.hero-layout h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0px;
    flex: 1fr;
}

.image-container {
    margin-bottom: 55px;
    margin-right: 25px;
    order: 1;
}

.side-by-side .image-container img {
    border-radius: 24px;
    width: 100%;
    margin: 0px 17px;
}

.text-container {
    margin-bottom: 55px;
    order: 1;
    margin-left: 0px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.text-container h3 {
    font-size: 35px;
    margin-bottom: 24px;
}

.text-container p {
    font-size: 16px;
    font-weight: bold;
    font-family: "Baskervville", serif;
}

.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 48px;
}

#menu-layout {
    max-width: 1000px;
    padding: 24px;
    margin: 0px auto;
}

#menu-layout h1 {
    font-size: 50px;
    text-align: center;
    color: #008A5F;
}

.center-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center-column .image-container-promo img {
    width: 50%;
    border-radius: 24px;
    margin-bottom: 12px;
}

.center-column .text-container-promo {
    background-color: #008A5F;
    border-radius: 24px;
    margin: 0px;
}

.center-column h4 {
    font-size: 30px;
}

.center-column h2 {
    font-size: 24px;
    color: white;
}

.center-column .text-container-promo p {
    font-size: 16px;
    font-family: "Baskervville", serif;
    color: white;
}

#card-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px;
}

.menu-container {
    display: flex; 
    flex-direction: column;
    text-align: center;
    background-color: #008A5F;
    color: white;
    padding: 12px;
    border-radius: 24px;
    flex: 1;
    margin: 12px;
}

.image-container-sushi img {
    border-radius: 24px; 
    min-width: 75%; 
}

.card {
    display: flex;
    justify-content: space-between;
    border: 3px solid white;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    margin-right: 40px;
}

#card-layout h2 {
    font-size: 24px;
}

.card p {
    margin-top: 21px;
}

.image-container-appetizers img {
    border-radius: 24px; 
    min-width: 75%;  
}

div .menu-container {
    margin-top: 0px;
}

@media screen and (max-width: 670px) {
    #navbar {
        flex-direction: column;
        text-align: center;
    }

    #navbar #logo {
        flex-direction: column;
        margin-right: 0px;
    }
}