* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 24px;
}

#hover-gallery {
    display: flex;
    flex-wrap: wrap;
}

#hover-gallery .card {
    flex: 300px;
    min-height: 250px;
    margin: 24px;
    text-align: center;
    position: relative;
}

#mario {
    background-image: url("../images/mario-jump.webp");
    background-size: cover;
    border-radius: 12px;
    background-position: center -80px;
    background-color: red;
    position: absolute;
}

#mario:hover {
    opacity: 0.5;
}

#mario {
    transition: 
        box-shadow 0.5s,
        transform 0.5s;
}

#mario p {
    color: red;
}

.card .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px); 
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s; 
}

.card:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); 
}

#sonic {
    background-image: url("../images/sonic-speed.webp");
    background-size: cover;
    border-radius: 12px;
    background-position: center -30;
    background-color: blue;
    position: absolute;
}

#sonic:hover {
    opacity: 0.5;
}

#sonic {
    transition: 
        box-shadow 0.5s,
        transform 0.5s;
}

#sonic p {
    color: rgb(127, 127, 254);
}

#sailor-moon {
    background-image: url("../images/sailor-moon.jpg");
    background-size: cover;
    border-radius: 12px;
    background-position: center;
    position: absolute;
}

#sailor-moon:hover {
    opacity: 0.5;
}

#sailor-moon {
    transition: 
        box-shadow 0.5s,
        transform 0.5s;
}

#sailor-moon p {
    color: yellow;
}

#godzilla {
    background-image: url("../images/goji-roar.webp");
    background-size: cover;
    border-radius: 12px;
    background-position: center 10%;
    background-color: grey;
    position: absolute;
}

#godzilla:hover {
    opacity: 0.5;
}

#godzilla {
    transition: 
        box-shadow 0.5s,
        transform 0.5s;
}

#godzilla p {
    color: navy;
}