* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* grid container  */
#three-columns {
    display: grid;
    grid-template-columns: 120px 1fr 475px 40px;
    grid-template-areas:
        "header header header header header"
        ". thumbnails main product-info .";
}

/* flexbox item */
#thumbnails img {
    width: 80px;
    margin: 20px;
    border-radius: 15px;
}

#thumbnails {
    grid-area: "thumbnails";
    display: block;
}

#header {
    border-bottom: 1px solid gray;
}

#header h1 {
    font-size: 48px;
    margin: 0px;
    padding: 12px;
    font-weight: bold;
}

#main img {
    width: 500px;
    padding: 20px;
    margin-left: 0px;
}

#thumbnails .thumbnail-container {
    border: 2px solid black;
    border-radius: 15px;
}