/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: yellow;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
}

#play-and-win {
    color: red;
    font-family: 
        Impact, 
        Haettenschweiler, 
        'Arial Narrow Bold', 
        sans-serif;
    text-align: center;
}

#post-it-2 {
    background-color: pink;
}

#post-it-3 {
    background-color: green;
    color: yellow;
    margin: 24px; 
}