/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: yellow;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
}

#play-and-win {
    color: red;
    font-family: 
        Impact, Haettenschweiler, 
        'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#post-it-2 {
    background-color: pink;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
}

#post-it-3 {
    background-color: green;
    color: yellow;
    margin: 24px; 
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 24px;
}

#list-of-items {
    text-decoration: underline;
}

#post-it-4 {
    text-align: center;
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
}

#godzilla-in-the-clouds {
    width: 90px;
}

#post-it-5 {
    text-align: left;
    background-color: crimson;
    color: gold;
    font-size: 24px;
    font-style: italic;
    display: inline-block;
}

#wet-and-splash {
    color: cornflowerblue;
    text-align: right;
    font-family: 
        Cambria, Cochin, 
        Georgia, Times, 
        'Times New Roman', serif;
    font-weight: bold;
}

#post-it-6 {
    background-color: navy;
    color: skyblue;
    text-align: left;
    font-family: 
        Verdana, Geneva, 
        Tahoma, sans-serif;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 24px;
    padding: 24px;
}